@font-face {
    font-family: Poppins;
    font-style: normal;
    src: url("/webassets/fonts/Poppins/Poppins-Medium.ttf");
}

@font-face {
    font-family: PoppinsBold;
    font-weight: bold;
    src: url("/webassets/fonts/Poppins/Poppins-Bold.ttf");
}

@font-face {
    font-family: MerriweatherLight;
    src: url("/webassets/fonts/Merriweather/Merriweather-Light.ttf");
}

@font-face {
    font-family: Merriweather;
    src: url("/webassets/fonts/Merriweather/Merriweather-Regular.ttf");
}

@font-face {
    font-family: MerriweatherBold;
    src: url("/webassets/fonts/Merriweather/Merriweather-Bold.ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: inherit;
    font-family: inherit;
    line-height: 2;
}

html {
    font-size: 16px;
    font-family: Poppins;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.col-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

[class$="-1"] {
    width: 8.33%;
}

[class$="-2"] {
    width: 16.66%;
}

[class$="-3"] {
    width: 25%;
}

[class$="-4"] {
    width: 33.33%;
}

[class$="-5"] {
    width: 41.66%;
}

[class$="-6"] {
    width: 50%;
}

[class$="-7"] {
    width: 58.33%;
}

[class$="-8"] {
    width: 66.66%;
}

[class$="-9"] {
    width: 75%;
}

[class$="-10"] {
    width: 83.33%;
}

[class$="-11"] {
    width: 91.66%;
}

[class$="-12"] {
    width: 100%;
}


h1 {
    font-size: 4rem;
    font-family: PoppinsBold;
    text-align: center;
    padding: 2rem;
}

h2 {
    font-size: 2.5rem;
    font-family: Poppins;
    text-align: center;
    padding: 1rem;
}

h3 {
    font-size: 2rem;
    font-family: Poppins;
    padding: 1rem;
}

h4 {
    font-size: 1.5rem;
    font-family: Poppins;
    padding: 1rem;
}

p {
    font-size: 1rem;
    padding: 1rem;
    font-family: Merriweather;
}

i {
    font-size: inherit;
    padding: 1rem;
    font-family: MerriweatherLight;
}

header {
    font-family: PoppinsBold;
}

